* {
  box-sizing: border-box;
  text-align: center;
}

body {
	
	font-family:"Georgia";
	font-color:#333333;
	font-size:18px;
	line-height:150%;
	margin:0;
	padding:0;
	width:960px;
}
.header {
	background:#ffffff;
	margin:auto 0;
	width:100%;
	height:85px;
	
	
}
#nav {
	font-color:#9999a2;
	font-size:18px;
	padding:0 px;
	width:33%;
	float:right;
	height:90px;
	margin-right:0;
	border:yellow dotted;
}

.container{
	background-image:url("assets/images/cheap_diagonal_fabric.png");
	width:1024px;
	margin:0 auto;
	border-top:4px #DDE1E6;
	overflow:auto;
	/*border-bottom:14px cadetblue;
	clear:both;
	overflow:auto*/
}	
#main-bio{
	float:left;
	width:650px;
	height:480px;
	border:double yellow;
	margin-top:35px;
	margin-bottom:40px;
	margin-left:45px;
	padding:0px 20px 0px 20px;


}

#bio-image{
	float:left;
	margin:20px;
	width:200px;
	height:200px;
}	
.connect{
	float:left;
	width:260px;
	height:195px;
	border:dotted yellow;
	margin-left:40px;
	margin-top:35px;

}

/*aside {
	float:right;
	width:30%px;
	background-color:lavender;
	height:200px;
	float:right;
}*/
h1 {
	
	background-color:cadetblue;
	color: white;
	font-size:28px;
	padding:15px;
	width:240px;
	height:90px;
	margin:auto 0;
	margin-left:45px;
	text-align:left;
	float:left;
}

h2	{
	font-size:24px;
	text-align: left;
	padding-left:20px;
	color:cadetblue;
	background-color:white;
	padding:0px 20px 20px 20px;
	border-bottom:#eee solid 5px;
	/*border-bottom:black solid 5px;
	padding:30px 35px 40px 32px;*/
}

a{
	color:#9999a2;
	text-decoration: none;
}

p {	padding:5px;
	text-align:justify;
}

footer{
	clear:both;
	background-color:#666666;
	border-top:cadetblue 10px solid;
	color:#cdc;
	font-size:12px;
	margin:auto 0;
	padding:40px;
	width:1024px;
	height:85px;

}